@import '../../fontIcon/iconfont.css';
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei";
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas",
    "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  outline: none;
}

@keyframes widthchange {
  from {
    width: 0;
  }
}

@keyframes cursor {
  from {
    border-right: 5px solid #fff;
  }
  to {
    border-right: none;
  }
}
