$bar-padding:20px;

.box{
    display: flex;
    flex-direction: column;
    .header-box {
        height:240px;    
        .header-nav {
            height:80px;
            background-color:#000;        
        }
        .header-img{
            height:160px;
            background-color:#343434;
        }
    }
    .container{
        display:flex;
        width:90%;        
        max-width:1300px;
        padding:0 10px;
        margin:0 auto;
        .content{
            flex:3;
            .one-bar{
                background:#fff;
                margin-top:20px;
                padding-bottom:10px;
                header{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    .bar-date{
                        text-align: center;
                        border-right:1px solid #ccc;
                        flex:1;
                        .date-day{
                            font-size:26px;
                            font-weight:600;
                        }
                        .date-month{
                            margin-top:5px;
                        }
                    }
                    .bar-title{
                        flex:6;
                        padding-left:20px;
                    }   
                }
                .bar-body{
                    width:100%;
                    .bar-box{
                        .img-box{
                            max-height:300px;
                            overflow:hidden;
                            .bar-img{
                                width:100%;
                            }  
                        }
                        .bar-desc{
                            word-wrap:break-word;
                            background:#fff;
                            padding:$bar-padding;
                        }
                    }
                }
                .bar-footer{
                    padding-left:$bar-padding;
                }
            }
        }
        .sidebar{
            flex:1;
            margin-top:20px;
            margin-left:50px;
            .search-box{
                width:100%;
                height:60px;
                background:#fff;
                input{
                    width:80%;
                    height:28px;
                    margin-left:10%;
                    margin-top:13px;
                }
            }
        }
    }
    .footer-box{
        margin-top:20px;
        height:80px;
        background-color:#333;
    }
}